extends layout

block content
	style.
		label input {display:block; width:230px;}
		
	form.content(method="POST")
		a(href="https://dev.fitbit.com/apps/") Register Your App
		h3= "App Info"
		label="Client ID"
			input(name="clientId", value=clientId, style="width:75px;")
		label="Consumer Key"
			input(name="consumerKey", value=consumerKey)
		label="Consumer Secret"
			input(name="consumerSecret", value=consumerSecret)
		label="Callback URL"
			input(value="http://heart-bit.herokuapp.com/auth", disabled=true)
		input(type="submit", value="Submit")
				