extends layout

append style
	style.
		details {
			background:rgb(241, 234, 225);
			margin-bottom:5px;
			width:50%;
			border:1px solid silver;
		}
		details summary {
			cursor:pointer;
			font-size:17px;
			margin-bottom:5px;
		}
		.functionName {
			font-weight:bold;
			background:white;
			margin:5px 15px;
		}
		.code {
			background:white;
			margin:5px 15px;
		}
		ol.code pre {
			margin:0px;
		}
		.errorLine {
			background:rgb(255, 162, 162);
		}

append content
	h1
		span(style="color:red;")="Error!"
		span(style="margin-left:10px; font-size:90%;")=message
	each snippet in codeSnippets 
		details(style="margin-left:15px;", open=!snippet.isLib)
			summary #{snippet.fileName}
			if snippet.functionName
				pre.functionName
					|#{snippet.functionName}() 
			if snippet.lines
				ol.code(start=snippet.lineNo-1)
					li: pre #{snippet.lines[snippet.lineNo-2]}
					li: pre #{snippet.beforeErr}
						span.errorLine
							|#{snippet.afterErr}
					li: pre #{snippet.lines[snippet.lineNo]}
	h2="Stacktrace:"
	pre #{error.stack}