extends layout

block content
	style.
		label input {display:block;}
		
	form.content(method="POST")
		h3= "Heartrate"
		label
			span="From"
			input(type="date", name="dateStart" value=new Date().toISOString().substr(0, 10))
		label
			span="To"
			input(type="date", name="dateEnd" value=new Date().toISOString().substr(0, 10))
		input(type="submit", value="Go")
		pre= heartrateData
				